 .about{
     background-color: $Main-background;
     margin-left: auto;
     margin-right: auto;
     padding-top: 125px;
     padding-bottom: 40px;
     background-repeat: no-repeat;
     background-image: url('../images/about/sectionbg-mobile@x1.png');
     background-size: contain;
     background-position: 50% 90%;

     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image:  url('../images/about/sectionbg-mobile@x2.png');
    }
    
     @media screen and (min-width:768px) {
         background-image: none;
     }
     @media screen and (min-width:1280px) {
         background-image: url('../images/about/sectionbg-desktop@x1.png');
        }
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image:  url('../images/about/sectionbg-desktop@x2.png');
        }
    }
    
        
    .about__label{
        font-family: $secondary-font;
        font-style: normal;
        font-size: 18px;
        line-height: 1.2;
        
        margin-bottom: 15px;
        text-align: center;
        color: $Light-accent;
        text-transform: uppercase;

        @media screen and (min-width:768px) {
            font-size: 26px;
        }
        @media screen and (min-width:1280px) {
            font-size: 30px;
        }
    }


   .about__picture {
    
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      width: 340px;
      height: 340px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
}
  .about__thumb {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  .about__content {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      padding-right: 15px;
      padding-top: 75px;
      width: 300px;
    }
    @media screen and (min-width: 1280px) {
      width: 380px;
      padding-right: 75px;
      padding-top: 75px;
    }
  }
  .about__title {
    font-family: $secondary-font;
    font-style: normal;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: $accent;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-transform: uppercase; 
  @media screen and (min-width: 1280px) {
      font-size: 58px;
      letter-spacing: 0.06em;
      br {
        display: none;
  margin-bottom: 50px;
      }
    }
}
    .about__subtitle{
        font-size: 12px;
        margin-bottom: 40px;
    }
    .about__text{
     
        font-size: 12px;
        line-height: 1.6;
        color: $Secondary-text;
        margin-bottom: 15px;
        
    }
    .about__text--secondary{
        
        font-size: 12px;
        line-height: 1.6;
        color: $Secondary-text;
        margin-bottom: 30px;

    }
    
 .about__icon{
     margin-left: 15px;

 }
 .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $Dark-backgroung;
    @include transit(opacity);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
    padding: 40px;
    background-color: $Light-text;
    background-image: url('../images/about/sectionbg-desktop@x1.png');
    border-radius: 6px;
    box-shadow: 0 15px 10px $accent;
    @include transit(transform);
    @media (min-width: 480px) {
      width: 380px;
      height: 300px;
    }
    @media (min-width: 768px) {
      width: 450px;
      height: 350px;
    }
    @media (min-width: 1280px) {
      width: 528px;
      height: 400px;
    }
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
  .modal__header {
    margin-bottom: 40px;
    text-align: center;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    color: $accent;
  }
  .modal__text {
    text-align: justify;
    overflow-y: auto;
  }
   .modal-close {
   
     font-size: 14px;
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
    border-radius: 22px;
    color: $accent;
    background-color: $Light-text;
    border-color: $accent;
    cursor: pointer;
  }
  