.gallery {
  padding-top: 50px;
  padding-bottom: 40px;
  margin: 0px;

  background-image: linear-gradient(to bottom, $Main-background 50%, $Light-text 50%);
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.gallery__item:not(:last-child) {
  margin-right: 1%;
  // margin-top: 39px;
}

.gallery__item:nth-child(4) {
  padding-top: 5%;
}

.gallery__item:nth-child(5) {
  padding-bottom: 10%;
}

.gallery__image {
  margin-bottom: 8px;
  border-radius: 15%;
}

.gallery__image:hover,
.gallery__image:focus {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(2);
  // opacity: 0.8;
  -webkit-filter: saturate(170%);
  filter: saturate(170%);
  @media screen and (min-width: 768px) {
    transform: scale(1.3);
  }
}

.gallery__image--thin {
  width: 49%;
}
