.products {
  font-family: $secondary-font;

  background-color: white;

  text-align: center;

  padding-top: 120px;
  padding-bottom: 100px;
}

.products__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 1,16;

  text-transform: uppercase;

  color: $Light-accent;

  margin-bottom: 15px;

}

.products__title {
  font-weight: normal;
  font-size: 34px;
  line-height: 1,14;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent;

  margin-bottom: 145px;

}

.products-list__item  {
  position: relative;

  background-color: $Main-background;
  border-radius: 24px;

  padding: 160px 40px 40px 40px;

  &:not(:last-child) {
    margin-bottom: 130px;
  }
}

$colors: 
"#FFB8CA",
"#F0D1A5",
"#C2E297";

@include colorize($colors, ".products-list__item");

$images: 
"url(../images/products/icecream-1.png)",
"url(../images/products/icecream-2.png)",
"url(../images/products/icecream-3.png)";

@include imaginize($images, ".products-list__item");

.products-list__item::before {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  content: '';
  display: block;
  width: 249px;
  height: 252px;

  background-image: url(../images/products/icecream-1.png);
  background-size: contain;
}

.products-list__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 1,15;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $Light-text;

  &::after {
    content: '';
    display: block;
    width: 26px;
    height: 6px;

    background-image: url(../images/products/dots.png);
    background-size: contain;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.products-list__description {
  font-family: $main-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,5;

  letter-spacing: 0.04em;

  color: $Light-text;

  margin-bottom: 30px;
}

.products-list__button {
  width: 40px;
  height: 40px;
 
  background-image: url(../images/products/arrow-right.png);
  background-size: contain;

  border: transparent;
  border-radius: 50%;

  cursor: pointer;

   padding: 0;
}

