@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  color: #000000;
  background-color: #fff5f6;
  font-family: "Dm Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.79;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero {
  background-color: #ffb8ca;
  height: 500px;
}

/* хедер */
.logo {
  display: block;
  padding-top: 6px;
}

.header__site-nav-list {
  display: none;
}

.header__modal-btn {
  display: none;
}

.menu-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}

/* мобільне меню */
.mobile-menu {
  position: fixed;
  padding: 32px 40px 48px 40px;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  color: #ffffff;
  z-index: 99;
  transform: translateX(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

/* герой */
.hero__title {
  margin-top: 135px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__title-accent {
  font-size: 48px;
  color: #d41443;
}

.hero__infrostructure-container {
  display: none;
}

.hero__description-box {
  display: none;
}

.read-more-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.products {
  font-family: "Titan One", sans-serif;
  background-color: white;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 125;
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 130;
    padding-bottom: 120px;
  }
}

.products__label {
  font-weight: normal;
  font-size: 18px;
  line-height: 1,16;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .products__label {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .products__label {
    font-size: 30px;
  }
}

.products__title {
  font-weight: normal;
  font-size: 34px;
  line-height: 1,14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 145px;
}

@media screen and (min-width: 768px) {
  .products__title {
    font-size: 48px;
    line-height: 1,12;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 58px;
    line-height: 1,17;
    margin-bottom: 260px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    margin: -10px;
  }
  .products-list__item {
    width: calc((100% - 3 * 20px)/3);
    margin: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list {
    display: flex;
    margin: -15px;
  }
  .products-list__item {
    width: calc((100% - 3 * 30px)/3);
    margin: 15px;
  }
}

.products-list__item {
  position: relative;
  background-color: #fff5f6;
  border-radius: 24px;
  padding: 150px 40px 40px 40px;
}

@media screen and (min-width: 768px) {
  .products-list__item {
    padding: 160px 11px 40px 11px;
  }
}

@media screen and (min-width: 768px) {
  .products-list__item {
    padding: 160px 45px 50px 45px;
  }
}

@media screen and (max-width: 767px) {
  .products-list__item:not(:last-child) {
    margin-bottom: 130px;
  }
}

.products-list__item:nth-child(1) {
  background-color: #FFB8CA;
}

.products-list__item:nth-child(2) {
  background-color: #F0D1A5;
}

.products-list__item:nth-child(3) {
  background-color: #C2E297;
}

.products-list__item:nth-child(1)::before {
  background-image: url(../images/products/icecream-1.png);
}

.products-list__item:nth-child(2)::before {
  background-image: url(../images/products/icecream-2.png);
}

.products-list__item:nth-child(3)::before {
  background-image: url(../images/products/icecream-3.png);
}

.products-list__item::before {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  background-image: url(../images/products/icecream-1.png);
  background-size: contain;
}

.products-list__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 1,15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.products-list__title::after {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  background-image: url(../images/products/dots.png);
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-list__description {
  font-family: "Dm Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1,5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .products-list__description {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .products-list__description {
    margin-bottom: 60px;
  }
}

.products-list__button {
  width: 40px;
  height: 40px;
  background-image: url(../images/products/arrow-right.png);
  background-size: contain;
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.about {
  background-color: #fff5f6;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: 50px 30px;
}

.about__label {
  padding-top: 125px;
  margin-bottom: 15px;
  text-align: center;
  color: #ffa5ba;
}

.about__title {
  color: #d41443;
  margin-bottom: 30px;
  text-align: center;
}

.about__list {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.about__item {
  margin-bottom: 30px;
}

.about__button {
  width: 175px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 22px;
  color: #d41443;
  border-color: transparent;
  margin-left: 130px;
}

/* advantage-list */
.advantage {
  background-color: #fff5f6;
  padding: 20px 0px;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantage-list__item::before {
  content: '';
  display: block;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advantage-list__item:nth-child(1)::before {
  content: "";
  width: 33px;
  height: 50px;
  background-image: url(../images/advantages/advantage1.png);
}

@media (min-rezolution: 2dppx), (min-resolution: 192dpi) {
  .advantage-list__item:nth-child(1)::before {
    content: "";
    width: 33px;
    height: 50px;
    background-image: url(../images/advantages/advantage1_2x.png);
  }
}

.advantage-list__item:nth-child(2)::before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/advantage2.png);
}

@media (min-rezolution: 2dppx), (min-resolution: 192dpi) {
  .advantage-list__item:nth-child(2)::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(../images/advantages/advantage2_2x.png);
  }
}

.advantage-list__item:nth-child(3)::before {
  content: "";
  width: 44px;
  height: 50px;
  background-image: url(../images/advantages/advantage3.png);
}

@media (min-rezolution: 2dppx), (min-resolution: 192dpi) {
  .advantage-list__item:nth-child(3)::before {
    content: "";
    width: 44px;
    height: 50px;
    background-image: url(../images/advantages/advantage3_2x.png);
  }
}

@media screen and (max-width: 767px) {
  .advantage-list__item {
    margin: 38px 0px;
  }
  .advantage-list__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list__item {
    flex-basis: calc((100% - 2 * 85px) / 3);
    margin: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .advantage-list__item {
    flex-basis: calc((100% - 2 * 100px) / 3);
    margin: 0px;
  }
}

.advantage-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #d41443;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.advantage-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.customer-reviews__img {
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85px;
}

@media screen and (min-width: 768px) {
  .customer-reviews__img {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__img {
    margin-bottom: 15px;
  }
}

.bg {
  background: #FAFAFA;
  position: relative;
  padding: 45px 50px 25px 50px;
}

@media screen and (min-width: 768px) {
  .bg {
    margin: 0 55px;
  }
}

@media screen and (min-width: 1280px) {
  .bg {
    margin: 0 155px;
  }
}

.bg::before {
  position: absolute;
  content: "";
  left: 12%;
  top: 17%;
  width: 54px;
  height: 40px;
  z-index: 1;
  background-image: url("../images/customer-reviews/quotes.svg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .bg::before {
    left: 7%;
    top: 19%;
  }
}

@media screen and (min-width: 1280px) {
  .bg::before {
    left: 4%;
    top: 23%;
  }
}

.customer-reviews__text {
  position: relative;
  z-index: 10;
  padding: 0 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  color: #000;
  background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 28px, #E1E1E1 19px, transparent 30px);
}

@media screen and (min-width: 768px) {
  .customer-reviews__text {
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
    background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 27px, #E1E1E1 19px, transparent 29px);
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
  }
}

.customer-reviews__text::after {
  position: absolute;
  left: 41%;
  bottom: -58px;
  content: "";
  background-image: url("../images/customer-reviews/dot.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 4px;
}

@media screen and (min-width: 400px) {
  .customer-reviews__text::after {
    left: 45%;
  }
}

@media screen and (min-width: 768px) {
  .customer-reviews__text::after {
    left: 47%;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text::after {
    left: 48%;
  }
}

.customer-reviews__city {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .customer-reviews__city {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__city {
    font-size: 20px;
  }
}

.contacts-section {
  background-image: linear-gradient(#ffffff) 84px, #fff5f6 84px;
  padding-bottom: 65px;
}

@media screen and (min-width: 768px) {
  .contacts-section {
    background-image: linear-gradient(#ffffff) 78px, #fff5f6 78px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.contacts-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 54px;
  }
}

@media screen and (max-width: 768px) {
  .contacts-list {
    flex-wrap: wrap;
    margin: -10;
    margin-bottom: 81px;
  }
}

.contacts-list__item {
  min-width: 220px;
  padding: 43px 20px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

@media screen and (min-width: 768px) {
  .contacts-list__item {
    min-width: 0;
    margin: 10px;
    padding: 50px 31px;
    flex-basis: calc((100% - 3 * 20px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .contacts-list__item {
    margin-bottom: 20px;
  }
}

.contacts-main {
  margin-bottom: 25px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .contacts-main {
    margin-bottom: 30px;
  }
}

.contacts-main__subtitle {
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .contacts-main__subtitle {
    font-size: 16px;
    line-height: 1.88;
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  footer {
    padding-top: 80px;
    padding-bottom: 20px;
  }
}

.footer__container {
  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
}

.footer__title {
  margin-bottom: 45px;
}

@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 0;
  }
}

.footer__subtitle {
  margin-bottom: 20px;
  width: 230px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media (min-width: 768px) {
  .footer__subtitle {
    margin-bottom: 15px;
    font-size: 26px;
  }
}

.footer__main-title {
  width: 230px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media (min-width: 768px) {
  .footer__main-title {
    font-size: 48px;
  }
}

.footer__socmedia {
  display: flex;
  justify-content: end;
  margin-bottom: 45px;
}

.footer__link {
  vertical-align: baseline;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fea5bb;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fea5bb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: #d41443;
}

.footer__item:not(:last-child) {
  margin-right: 25px;
}

.footer__phone {
  text-align: end;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
}

@media (min-width: 768px) {
  .footer__phone {
    font-size: 14px;
  }
}

.footer__tel {
  color: #d41443;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel:hover, .footer__tel:focus {
  color: #c7133e;
}

.copyright {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  color: #907e82;
}

@media (min-width: 768px) {
  .copyright {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
  }
}

.copyright__container {
  display: block;
  margin: 0 auto;
  width: 150px;
}

@media (min-width: 768px) {
  .copyright__container {
    display: flex;
    justify-content: center;
    width: auto;
  }
}

@media (min-width: 768px) {
  .copyright__text {
    margin-right: 3px;
  }
}
/*# sourceMappingURL=main.css.map */