body {
  color: $Main-text;
  background-color: $Main-background;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.79;
  // letter-spacing: ;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 480px) {
    width: 480px;
  }
  @media (min-width: 768px) {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: 1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.light-btn {
  padding: 10px 20px;
  background-color: $Light-text;
  border-radius: 22px;
  color: $accent;
  border-color: transparent;

  font-style: normal;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
  @include transit(background-color);
  &:hover,
  &:focus {
    background-color: $Button-light-hover;
  }
}
.dark-btn {
  padding: 10px 20px;
  background-color: $accent;
  border-radius: 22px;
  color: $Light-text;
  border-color: transparent;

  font-style: normal;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  cursor: pointer;
  @include transit(background-color);
  &:hover,
  &:focus {
    background-color: $Dark-accent-icon;
  }
}
