@mixin colorize($colors, $baseSelector) {
  @each $color in $colors {
    $idx: index($colors, $color);

    #{$baseSelector}:nth-child(#{$idx}) {
      background-color: #{$color};
    }
  }
}

@mixin imaginize($images, $baseSelector) {
  @each $image in $images {
    $idx: index($images, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}

@mixin imaginize2x($images2x, $baseSelector) {
  @each $image in $images2x {
    $idx: index($images2x, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}