@mixin colorize($colors, $baseSelector) {
  @each $color in $colors {
    $idx: index($colors, $color);

    #{$baseSelector}:nth-child(#{$idx}) {
      background-color: #{$color};
    }
  }
}
// Миксины изображений секции "Products" под мобильные
@mixin imaginize($images, $baseSelector) {
  @each $image in $images {
    $idx: index($images, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}


@mixin imaginize2x($images2x, $baseSelector) {
  @each $image in $images2x {
    $idx: index($images2x, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}

// Миксины изображений секции "Products" под планшеты
@mixin imaginize-220($images-220, $baseSelector) {
  @each $image in $images-220 {
    $idx: index($images-220, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}

@mixin imaginize-220-2x($images-220-2x, $baseSelector) {
  @each $image in $images-220-2x {
    $idx: index($images-220-2x, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}

// Миксины изображений секции "Products" под ПК
@mixin imaginize-335($images-335, $baseSelector) {
  @each $image in $images-335 {
    $idx: index($images-335, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}

@mixin imaginize-335-2x($images-335-2x, $baseSelector) {
  @each $image in $images-335-2x {
    $idx: index($images-335-2x, $image);

    #{$baseSelector}:nth-child(#{$idx})::before {
      background-image: #{$image};
    }
  }
}

@mixin transit($property) {
  transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
