$Light-text: #ffffff;
$Main-text: #000000;
$Secondary-text: #907e82;
$Main-background: #fff5f6;
$medium-secondary-text: #e1e1e1;
$Dark-backgroung: #ffb8ca;
$Background-accent1: #f0d1a5;
$Background-accent2: #c2e297;
$Light-secondary-text: #fafafa;
$Mobile-menu-accent: #e17992;
$accent: #d41443;
$Light-accent: #ffa5ba;
$Button-light-hover: #ecebeb;
$Button-dark-hover: #c7133e;
$Dark-accent-icon: #d31342;
$Light-accent-icon: #fea5bb;
$Secondary-icon: #d9d9d9;
