<section class="about">
<div class="container">
    <p class="about__label">Tradition and love</p>
<h2 class="about__title"> How - it's <br> made ?</h2>
<div class="about__thumb">
<img
 srcset="./images/about/cow1x-tablet.png 900w,
        ./images/about/cow2x-desctop.png 1200w"
 src="./images/about/cow1x-tablet.png" alt="корова" width="100%" >
</div>
<div class="about__content">
    <p class="about__subtitle">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

    </p>
    <p class="about__text about__text--secondary ">
        Aliquam erat volutpat. Aenean accumsan.
    </p>
</div>
<button class="about__button">
Read more 
<svg class="about__icon" width="10" height="10">
    <use href="./images/about/symbol-defs.svg#icon-Vector-about"></use>
</svg>
</button>

</div>
</section>
