<section class="about" id="about">
<div class="container about__container">
    <p class="about__label">Tradition and love</p>
<h2 class="about__title"> How - it's <br> made ?</h2>
<div class="about__thumb">
<div class="about__picture">
<img
 srcset="./images/about/cow-tablet@x1.png 900w,
        ./images/about/cow-desktop@x2.png 1200w"
 src="./images/about/cow-tablet@x1.png" alt="корова" width="100%" >
</div>
<div class="about__content">
    <p class="about__subtitle">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

    </p>
    <p class="about__text about__text--secondary ">
        Aliquam erat volutpat. Aenean accumsan.
    </p>

<button data-modal-open class="light-btn" type="button">
    Read more
    <svg class="about__icon" width="10" height="10">
      <use href="./images/about/symbol-defs.svg#icon-Vector-about"></use>
    </svg>
  </button>
</div>
</div>
  <div data-modal class="backdrop is-hidden">
    <div class="modal">
      <h4 class="modal__header">how it’s made?</h4>
      <p class="modal__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores dolorum saepe fugiat ab!
        Reprehenderit sit nam ex deserunt corporis praesentium excepturi doloribus vero. Sunt facilis
        fuga dolores rem praesentium deserunt. Aut perferendis quam impedit voluptates quos provident
        sed, dignissimos ducimus praesentium, id placeat ipsam necessitatibus molestiae sapiente ipsa
        cum repellat maxime. Repellendus vero maiores fuga reiciendis corporis placeat magnam
        sapiente. Commodi, a, inventore, dolore necessitatibus esse dolores molestiae excepturi nemo
        suscipit aliquid quasi quos iste et sunt accusamus nesciunt aperiam consectetur facilis.
        Molestiae nesciunt impedit, repellat voluptates corporis at odio. Temporibus ea modi soluta
        qui corrupti, odio dolorum? Perferendis ab quos atque aut. Repellat, alias cupiditate nulla
        vero non deserunt quam maiores aliquid quos quibusdam sit modi eius distinctio at. Delectus
        expedita debitis, odio neque consectetur illum ipsum non perspiciatis veritatis quis ipsam hic
        inventore officia itaque temporibus! Magnam quae provident, ratione aliquid sapiente delectus
        repudiandae. Rem ab nulla sequi.
      </p>
      <button data-modal-close class="light__btn modal-close" type="button">Close</button>
    </div>
  </div>
  
</div>
</section>
