<section class="about">

    <p class="about__label">Tradition and love</p>
<h2 class="about__title"> How it's made</h2>


<div class="about__content">
    <p class="about__subtitle">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

    </p>
    <p class="about__text">
        Aliquam erat volutpat. Aenean accumsan.
    </p>
</div>
<button class="about__button">
Read more 
</button>


</section>
