<section class="advantage" id="advantage">
  <div class="container">
    <h2 class="section__title visually-hidden">Advantages</h2>
    <ul class="advantage-list">
      <li class="advantage-list__item">
        <span class="advantage-list__title">721</span>
        <p class="advantage-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-list__item">
        <span class="advantage-list__title">16KG</span>
        <p class="advantage-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage-list__item">
        <span class="advantage-list__title">84</span>
        <p class="advantage-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
