<section id="contacts" class="contacts-section">
    <img
        srcset="./images/contacts/contacts-bg-1x.png, 
                ./images/contacts/contacts-bg-2x.png"
        src="./images/contacts/contacts-bg-1x.png"
        alt=""
        width=""
    />
    <h2 class="visually-hidden">Contacts</h2>
      <div class="container container--mob">
          <ul class="contacts-list">
              <li class="contacts-list__item">
                  <div class="contacts-main contacts-main--primary">
                      <p class="contacts-main__subtitle">CAFE</p>
                  </div>
                  <p class="contacts__text contacts__text--subtitle">Chicago</p>
                  <p class="contacts-description__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                   <div class="contacts-middle">
                       <div class="contacts">
                           <p class="contacts__text contacts__text--primary">Monday - Friday</p>
                           <p class="contacts__text contacts__text--secondary">06:00 AM - 10:00 PM</p>
                       </div>
                           <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
                           <p class="contacts__text contacts__text--secondary">08:00 AM - 16:00 PM</p>
                   </div>
                     <address class="contacts__address">
                      <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                      <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                     </address>
              </li>

              <li class="contacts-list__item">
                <div class="contacts-main contacts-main--secondary">
                    <p class="contacts-main__subtitle">FOODTRUCK</p>
                </div>
                <p class="contacts__text contacts__text--subtitle">Los Angeles</p>
                <p class="contacts-description__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                 <div class="contacts-middle">
                    <div class="contacts">
                        <p class="contacts__text contacts__text--primary">Monday - Friday</p>
                        <p class="contacts__text contacts__text--secondary">06:00 AM - 10:00 PM</p>
                    </div>
                        <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
                        <p class="contacts__text contacts__text--secondary">08:00 AM - 16:00 PM</p>
                 </div>
                   <address class="contacts__address">
                    <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                   </address>
              </li>

              <li class="contacts-list__item">
                <div class="contacts-main contacts-main--primary">
                    <p class="contacts-main__subtitle">CAFE</p>
                </div>
                <p class="contacts__text contacts__text--subtitle">New York</p>
                <p class="contacts-description__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                 <div class="contacts-middle">
                    <div class="contacts">
                        <p class="contacts__text contacts__text--primary">Monday - Friday</p>
                        <p class="contacts__text contacts__text--secondary">06:00 AM - 10:00 PM</p>
                    </div>
                        <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
                        <p class="contacts__text contacts__text--secondary">08:00 AM - 16:00 PM</p>
                 </div>
                   <address class="contacts__address">
                    <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                   </address>
            </li>
          </ul>
      </div>

      <div class="contacts-btn">
          <button class="" type="button">Our Locations</button>
          <button class="" type="button">Franchise</button>
      </div>
</section>

