<section class="contacts-section">
    <h2 class="visually-hidden">Contacts</h2>
      <div class="contacts-container">
          <ul class="contacts-list">
              <li class="contacts-list__item">
                  <div class="contacts-main">
                      <p class="contacts-main__subtitle">CAFE</p>
                  </div>
                  <p class="contacts__text">Chicago</p>
                  <p class="contacts-description__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                   <div class="contacts-middle">
                       <div class="contacts-chart">
                           <p class="contacts-chart__text">Monday - Friday</p>
                           <p class="contacts-chart__text">06:00 AM - 10:00 PM</p>
                       </div>
                           <p class="contacts-chart__text">Saturday - Sunday</p>
                           <p class="contacts-chart__text">08:00 AM - 16:00 PM</p>
                   </div>
                     <address contacts__address>
                      <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                      <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                     </address>
              </li>

              <li class="contacts-list__item">
                <div class="contacts-main">
                    <p class="contacts-main__subtitle">FOODTRUCK</p>
                </div>
                <p class="contacts__text">Los Angeles</p>
                <p class="contacts-description__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                 <div class="contacts-middle">
                    <div class="contacts-chart">
                        <p class="contacts-chart__text">Monday - Friday</p>
                        <p class="contacts-chart__text">06:00 AM - 10:00 PM</p>
                    </div>
                        <p class="contacts-chart__text">Saturday - Sunday</p>
                        <p class="contacts-chart__text">08:00 AM - 16:00 PM</p>
                 </div>
                   <address contacts__address>
                    <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                   </address>
              </li>

              <li class="contacts-list__item">
                <div class="contacts-main">
                    <p class="contacts-main__subtitle">CAFE</p>
                </div>
                <p class="contacts__text">New York</p>
                <p class="contacts-description__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                 <div class="contacts-middle">
                    <div class="contacts-chart">
                        <p class="contacts-chart__text">Monday - Friday</p>
                        <p class="contacts-chart__text">06:00 AM - 10:00 PM</p>
                    </div>
                        <p class="contacts-chart__text">Saturday - Sunday</p>
                        <p class="contacts-chart__text">08:00 AM - 16:00 PM</p>
                 </div>
                   <address contacts__address>
                    <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>    
                   </address>
            </li>
          </ul>
      </div>

      <div class="contacts-btn">
          <button class="" type="button">Our Locations</button>
          <button class="" type="button">Franchise</button>
      </div>
</section>

