<!-- Customer Reviews -->

<section class="customer-reviews" id="reviews">
    <div class="container">
        <div class="customer-reviews__slider">
            <div class="customer-reviews__item">
                <img class="customer-reviews__img"
                     srcset="./images/customer-reviews/1st-review@x1.jpeg  85w,
                             ./images/customer-reviews/1st-review@x2.jpeg 170w"
                     src="./images/customer-reviews/1st-review@x1.jpeg" 
                     alt="first review"
                     sizes="(min-width: 1200px) 10vw,
                            (min-width: 768px) 20vw,
                            (min-width: 320px) 30vw, 30vw">
                <div class="background">
                    <div class="underline">
                        <p class="customer-reviews__text">
                            Nullam viverra consectetuer.
                            Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <p class="customer-reviews__city">
                    Emily, Los Angeles
                </p>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__img" 
                     srcset="./images/customer-reviews/2nd-review@x1.jpeg  85w,
                             ./images/customer-reviews/2nd-review@x2.jpeg 170w"
                     src="./images/customer-reviews/2nd-review@x1.jpeg" 
                     alt="second review" 
                     sizes="(min-width: 1200px) 10vw,
                            (min-width: 768px) 20vw,
                            (min-width: 320px) 30vw, 30vw">
                <div class="background">
                    <div class="underline">
                        <p class="customer-reviews__text">
                            Nullam viverra consectetuer.
                            Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <p class="customer-reviews__city">
                    Lora, San Antonio
                </p>
            </div>
            <div class="customer-reviews__item">
                <img class="customer-reviews__img"
                     srcset="./images/customer-reviews/3rd-review@x1.jpeg  85w,
                             ./images/customer-reviews/3rd-review@x2.jpeg 170w"
                     src="./images/customer-reviews/3rd-review@x1.jpeg" 
                     alt="third review"
                     sizes="(min-width: 1200px) 10vw,
                            (min-width: 768px) 20vw,
                            (min-width: 320px) 30vw, 30vw">
                <div class="background">
                    <div class="underline">
                        <p class="customer-reviews__text">
                            Nullam viverra consectetuer.
                            Quisque cursus et, porttitor risus.
                            Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <p class="customer-reviews__city">
                    Jesica, New Orlean
                </p>
            </div>
        </div>
    </div>
</section>