<section class="gallery">
  <div class="container">
    <h2 class="section__title visually-hidden">Gallery</h2>

    <div class="gallery__box">
      <div class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal1-320.jpg   320w,
            ./images/gallery/gal1-768.jpg   768w,
            ./images/gallery/gal1-1280.jpg 1280w,
            ./images/gallery/gal1-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal1-320.jpg"
          alt="Ice cream fiesta"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal2-320.jpg   320w,
            ./images/gallery/gal2-768.jpg   768w,
            ./images/gallery/gal2-1280.jpg 1280w,
            ./images/gallery/gal2-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal2-320.jpg"
          alt="Ice cream yellow"
        />
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal3-320.jpg   320w,
            ./images/gallery/gal3-768.jpg   768w,
            ./images/gallery/gal3-1280.jpg 1280w,
            ./images/gallery/gal3-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal3-320.jpg"
          alt="Ice cream on stick"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal4-320.jpg   320w,
            ./images/gallery/gal4-768.jpg   768w,
            ./images/gallery/gal4-1280.jpg 1280w,
            ./images/gallery/gal4-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 28vw"
          src="./images/gallery/gal4-320.jpg"
          alt="many ice creams"
        />
        <img
          class="gallery__image gallery__image--thin"
          srcset="
            ./images/gallery/gal5-320.jpg   320w,
            ./images/gallery/gal5-768.jpg   768w,
            ./images/gallery/gal5-1280.jpg 1280w,
            ./images/gallery/gal5-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px 14vw, (min-width: 769px) 1280px 14vw, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal5-320.jpg"
          alt="Girl and ice cream"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal6-320.jpg   320w,
            ./images/gallery/gal6-768.jpg   768w,
            ./images/gallery/gal6-1280.jpg 1280w,
            ./images/gallery/gal6-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal6-320.jpg"
          alt="White ice cream"
        />
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal7-320.jpg   320w,
            ./images/gallery/gal7-768.jpg   768w,
            ./images/gallery/gal7-1280.jpg 1280w,
            ./images/gallery/gal7-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal7-320.jpg"
          alt="Wlaking with ice cream"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal8-320.jpg   320w,
            ./images/gallery/gal8-768.jpg   768w,
            ./images/gallery/gal8-1280.jpg 1280w,
            ./images/gallery/gal8-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal8-320.jpg"
          alt="Dog and ice cream"
        />
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal9-320.jpg   320w,
            ./images/gallery/gal9-768.jpg   768w,
            ./images/gallery/gal9-1280.jpg 1280w,
            ./images/gallery/gal9-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal9-320.jpg"
          alt="Cofee ice cream"
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__image"
          srcset="
            ./images/gallery/gal10-320.jpg   320w,
            ./images/gallery/gal10-768.jpg   768w,
            ./images/gallery/gal10-1280.jpg 1280w,
            ./images/gallery/gal10-2000.jpg 2000w
          "
          sizes="(min-width: 2000px) 2000px, (min-width: 769px) 1280px, (min-width: 320px) 768px 14vw"
          src="./images/gallery/gal10-320.jpg"
          alt="Milky ice cream"
        />
      </div>
    </div>
  </div>
</section>
