<section class="hero" id="hero-section">
<div class="container hero__container">
  <header class="header">
      <a href="" class="logo">
        <img 
        src="./images/hero/logo.png"
        srcset="./images/hero/logo.png 1x,
                ./images/hero/logo@2x.png 2x"         
        alt="IceCream" class="logo-image"
      /></a>
      <nav>
        <ul class="header__site-nav-list">
          <li class="header__site-nav-item">
            <a href="#hero-section" class="header__site-nav-link">Home</a></li>
          <li class="header__site-nav-item">
            <a href="#advantage" class="header__site-nav-link">About us</a>
          </li>
          <li class="header__site-nav-item">
            <a href="#about" class="header__site-nav-link">How it’s made?</a>
          </li>
          <li class="header__site-nav-item">
            <a href="#products" class="header__site-nav-link">Our products</a>
          </li>
          <li class="header__site-nav-item">
            <a href="#contacts" class="header__site-nav-link">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__modal-btn light-btn" type="button">
      Buy now
      <svg class="about__icon" width="10" height="10">
        <use href="./images/about/symbol-defs.svg#icon-Vector-about"></use>
      </svg>
    </button>

      <button
        class="menu-btn menu-btn--open js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <img src="./images/hero/menu-icon-open.svg" alt="open menu" />
      </button>

      <!-- мобільне меню -->
      <div class="mobile-menu js-menu-container" id="mobile-menu">
        <button class="menu-btn menu-btn--close js-close-menu" type="button">
          <img src="./images/hero/icon-close.svg" alt="open menu" />
        </button>

        <button class="mobile-menu__modal-btn light-btn" type="button">
          Buy now
          <svg class="about__icon" width="10" height="10">
            <use href="./images/about/symbol-defs.svg#icon-Vector-about"></use>
          </svg>
        </button>
        <nav>
          <ul class="mobile-menu__site-nav-list">
            <li class="mobile-menu__site-nav-item">
              <a href="#hero-section" class="mobile-menu__site-nav-link">Home</a>
            </li>
            <li class="mobile-menu__site-nav-item">
              <a href="#advantage" class="mobile-menu__site-nav-link">About us</a>
            </li>
            <li class="mobile-menu__site-nav-item">
              <a href="#about" class="mobile-menu__site-nav-link">How it’s made?</a>
            </li>
            <li class="mobile-menu__site-nav-item">
              <a href="#products" class="mobile-menu__site-nav-link">Our products</a>
            </li>
            <li class="mobile-menu__site-nav-item">
              <a href="#contacts-section" class="mobile-menu__site-nav-link">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    
  </header>

<div class="hero__content-container">
  <div class="hero__title-box">
  
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title-accent">passion</span>
    </h1>
    <nav>
      <a href="#products" class="hero__btn dark-btn">Products</a>
      <a href="#about" class="hero__btn light-btn">How it’s made?</a>
    </nav>
  </div>
  <div class="hero__infrostructure-container">
    <div class="hero__infrostructure-box">
      <span class="hero__infrostructure-number">16</span>
      <p class="hero__infrostructure-text">cafes</p>
    </div>
    <div class="hero__infrostructure-box">
      <span class="hero__infrostructure-number">23</span>
      <p class="hero__infrostructure-text">food trucks</p>
    </div>
  </div>
</div>
    
    <div class="hero__description-box">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="read-more-btn" type="button">
        <img src="./images/hero/arrow.svg" alt="" />
      </button>
    </div>

      <!-- фонові зображення -->
        <div class="circle"></div>
          <picture>          
            <source srcset="./images/hero/icecream_desktop.png 1x, ./images/hero/icecream_desktop@2x.png 2x"
              media="(min-width: 1280px)">
            <source srcset="./images/hero/icecream_tablet.png 1x, ./images/hero/icecream_tablet@2x.png 2x"
              media="(min-width: 768px)">
            <source srcset="./images/hero/icecream_mobile.png 1x, ./images/hero/icecream_mobile@2x.png 2x"
              media="(max-width: 767px)">
            <img class="icecream-img" src="./images/hero/icecream_desktop.png" alt="icecream">
          </picture>
        
          <picture>
            <source srcset="./images/hero/so-tasty_desktop.png 1x, ./images/hero/so-tasty_desktop@2x.png 2x"
              media="(min-width: 1280px)">
            <source srcset="./images/hero/so-tasty_tablet.png 1x, ./images/hero/so-tasty_tablet@2x.png 2x"
              media="(min-width: 768px)">
            <img class="so-tasty-img" src="./images/hero/so-tasty_tablet.png" alt="girl tastes ice cream">
          </picture>

          <picture>
            <source srcset="./images/hero/bio-eco_desktop.png 1x, ./images/hero/bio-eco_desktop@2x.png 2x"
              media="(min-width: 1280px)">
            <source srcset="./images/hero/bio-eco_tablet.png 1x, ./images/hero/bio-eco_tablet@2x.png 2x"
              media="(min-width: 768px)">
            <img class="bio-eco-img" src="./images/hero/bio-eco_tablet.png" alt="jug of milk">
          </picture>

</div>
</section>

<!-- коли скріпт підключиться в індексі, я його заберу звідси-->
<!-- <script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script src="./js/mobile-menu.js"></script> -->
