<section class="hero">
    <header class="header">
        <div class="container">
            <a href="" class="logo"><img src="./images/hero/logo.png" alt="IceCream" class="logo-image"></a>
            <nav>
                <ul class="header__site-nav-list">
                    <li class="header__site-nav-item"><a href="#" class="header__site-nav-link">Home</a></li>
                    <li class="header__site-nav-item"><a href="#" class="header__site-nav-link">About us</a></li>
                    <li class="header__site-nav-item"><a href="#" class="header__site-nav-link">How it’s made?</a></li>
                    <li class="header__site-nav-item"><a href="#" class="header__site-nav-link">Our products</a></li>
                    <li class="header__site-nav-item"><a href="#" class="header__site-nav-link">Contact</a></li>
                </ul>
            </nav>
            <button class="header__modal-btn" type="button">Buy now</button>

            <button class="menu-btn js-open-menu" type="button" aria-expanded="false" aria-controls="mobile-menu">
                <img src="./images/hero/menu-icon-open.svg" alt="open menu"></button>
            <div class="mobile-menu js-menu-container" id="mobile-menu">
                <button class="menu-btn js-close-menu" type="button"><img src="./images/hero/icon-close.svg"
                        alt="open menu"></button>

                <button class="modal-btn" type="button">Buy now</button>
                <nav>
                    <ul class="mobile-menu__site-nav-list">
                        <li class="mobile-menu__site-nav-item"><a href="#" class="mobile-menu__site-nav-link">Home</a>
                        </li>
                        <li class="mobile-menu__site-nav-item"><a href="#" class="mobile-menu__site-nav-link">About
                                us</a></li>
                        <li class="mobile-menu__site-nav-item"><a href="#" class="mobile-menu__site-nav-link">How it’s
                                made?</a></li>
                        <li class="mobile-menu__site-nav-item"><a href="#" class="mobile-menu__site-nav-link">Our
                                products</a></li>
                        <li class="mobile-menu__site-nav-item"><a href="#"
                                class="mobile-menu__site-nav-link">Contact</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>

    <div class="container">
        <h1 class="hero__title">ice cream <br> made with <br> <span class="hero__title-accent">passion</span></h1>
        <nav>
            <a href="#">Products</a>
            <a href="#">How it’s made?</a>
        </nav>
        <div class="hero__infrostructure-container">
            <div class="hero__infrostructure-box">
                <span class="hero__infrostructure-number">16</span>
                <p>cafes</p>
            </div>
            <div class="hero__infrostructure-box">
                <span class="hero__infrostructure-number">23</span>
                <p>food trucks</p>
            </div>
        </div>
        <div class="hero__description-box">
            <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et</p>
            <button class="read-more-btn" type="button"> <img src="./images/hero/arrow.svg" alt=""></button>
        </div>
    </div>
</section>




<!-- коли скріпт підключиться в індексі, я його заберу звідси-->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
<script src="./js/mobile-menu.js"> </script>