<div data-map class="backdrop is-hidden">
  <div class="modal modal-map">
    <button data-map-close class="close-shop" type="button">
      <svg width="10" height="10" aria-label="mobile menu switcher">
        <use class="close-shop__icon" href="./images/hero/buy-now_modal.svg#close"></use>
      </svg>
    </button>

    <h4 class="modal__header">Find Ice Cream shop</h4>

    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.900638201283!2d-118.36202328482818!3d34.07206128060066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b9305a1a8653%3A0x2f87d550dad88a27!2sBennett&#39;s%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1631715027735!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
