<div data-shop-mobile class="backdrop is-hidden">
  <div class="modal shop">
    <button data-shop-mobile-close class="close-shop" type="button">
      <svg width="10" height="10" aria-label="mobile menu switcher">
        <use class="close-shop__icon" href="./images/hero/buy-now_modal.svg#close"></use>
      </svg>
    </button>
    <form action="">
      <h4 class="modal__header">Choose your flavour</h4>
      <ul class="flavours">
        <li class="flavours__thumb">
          <img
            class="flavours__picture"
            src="./images/modal-buy/choco@2x.jpg"
            alt="chocolate icecream"
          />
          <p class="flavours__description subtitle">Chocolate Ice Cream</p>

          <div class="flavours__quantity">
            <button class="minus-btn" type="button" name="button">-</button>
            <input class="quantity-input" type="text" name="name" value="1" />
            <button class="plus-btn" type="button" name="button">+</button>
          </div>
          <button class="dark-btn chart">chart</button>
        </li>
        <li class="flavours__thumb">
          <img
            class="flavours__picture"
            src="./images/modal-buy/vanila@2x.jpg"
            alt="vanila icecream"
          />
          <p class="flavours__description subtitle">vanila ice cream</p>

          <div class="flavours__quantity">
            <button class="minus-btn" type="button" name="button">-</button>
            <input class="quantity-input" type="text" name="name" value="1" />
            <button class="plus-btn" type="button" name="button">+</button>
          </div>
          <button class="dark-btn chart">chart</button>
        </li>
        <li class="flavours__thumb">
          <img
            class="flavours__picture"
            src="./images/modal-buy/strwbr@2x.jpg"
            alt="strawberry icecream"
          />
          <p class="flavours__description subtitle">strawberry ice cream</p>

          <div class="flavours__quantity">
            <button class="minus-btn" type="button" name="button">-</button>
            <input class="quantity-input" type="text" name="name" value="1" />
            <button class="plus-btn" type="button" name="button">+</button>
          </div>
          <button class="dark-btn chart">chart</button>
        </li>
        <li class="flavours__thumb">
          <img
            class="flavours__picture"
            src="./images/modal-buy/unicorn@2x.jpg"
            alt="unicorn icecream"
          />
          <p class="flavours__description subtitle">unicorn ice cream</p>

          <div class="flavours__quantity">
            <button class="minus-btn" type="button" name="button">-</button>
            <input class="quantity-input" type="text" name="name" value="1" />
            <button class="plus-btn" type="button" name="button">+</button>
          </div>
          <button class="dark-btn chart">chart</button>
        </li>
      </ul>

      <button class="light-btn order" type="submit">View chart</button>
    </form>
  </div>
</div>
