<section class="products" id="products">
<div class="container">
    <p class="products__subtitle subtitle">100% natural</p>
    <h2 class="products__title title">Products</h2>
    <ul class="products-list">
        <li class="products-list__item">
            <div class="meta-container">
                <div class="front-container">
                    <h3 class="products-list__title">Ice cream</h3>
                    <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </div>
                <div class="back-container">
                    <p class="products-list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, atque molestias dignissimos unde similique suscipit! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                </div>
                <button class="products-list__button"></button>
            </div>
        </li>
        <li class="products-list__item">
            <div class="meta-container">
                <div class="front-container">
                    <h3 class="products-list__title">Ice coffee</h3>
                    <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p> 
                </div>
                <div class="back-container">
                   <p class="products-list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, atque molestias dignissimos unde similique suscipit! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>      
                </div>
                <button class="products-list__button"></button>
            </div>
        </li>
        <li class="products-list__item">
            <div class="meta-container">
                <div class="front-container">
                    <h3 class="products-list__title">Milkshakes</h3>
                    <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>      
                </div>
                <div class="back-container">
                   <p class="products-list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, atque molestias dignissimos unde similique suscipit! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>       
                </div>
                <button class="products-list__button"></button>
            </div>
        </li>
    </ul>
</div>
</section>